/*
# This file is part of the wRiTe package.
#
# Copyright (c) 2023 by Nicolas CLÉMENT
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 3
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
# See http://www.gnu.org/licenses/ for more information.
*/

.title {
	margin-top: 0.5em;
    margin-bottom: 0.3em;
    padding-top: 0em;
	border-bottom: 1px solid #cccccc;
 	color: dimgray;
	font-size: 2.8em;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.title {
	font-family: "Barlow Condensed", serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Barlow Semi Condensed", serif;
}

body {
	font-family: "Source Sans Pro", serif, "Noto Color Emoji";
}

h1 {
	color: black;
        font-size: 1.8em;
        margin-top: 1em;
        margin-bottom: 0.3em;
        padding-top: 1em;
}

h2 {
	color: #222222;
	font-size: 1.55em;
	padding-top: 1em;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 1.35em;
	color: #333333;
        margin-bottom: 0.5em;
	padding-top: 1em;
}

h4 {
	font-size: 1.2em;
	color: #444444;
        margin-bottom: 0.5em;
	padding-top: 1em;
}

h5 {
  color: #555555;
	font-size: 1.1em;
  margin-bottom: 0.5em;
	padding-top: 1em;
}

h6 {
	color: #555555;
	font-size: 1.05em;
        margin-bottom: 0.5em;
	margin-top: 1em;
}

p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

li p {
margin: 0.4em;
}


ul, ol {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 5mm;
  margin-left: 1em;
  padding-top: 0em;
}

li {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  padding-top: 0;
  padding-bottom: 0;
}

ol>li::marker {
	font-weight: bold;
}

ul :first-child, ol :first-child {
  margin-top: 0;
}

ul :last-child, ol :last-child {
  margin-bottom: 0;
}

dd {
  text-indent: 4ch;
}

mark {
  background-color: yellow;
  margin: 0;
  padding: 0;
}

blockquote {
  box-sizing: border-box;
  display: table;
  width: 100%;
  padding: 0.5em 1em 0.4em 0.5em;
  border-left: 6px solid #aaaaaa;
  background-color: rgba(187, 187, 187, .05);
  border-radius: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote blockquote {
  border: 0;
  border-left: 0.5px dotted rgb(187, 187, 187);
  border-radius: 3px;
  background: rgba(187, 187, 187, .05);
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

blockquote blockquote blockquote {
  border: 0;
  border-left: 0.2px dashed rgb(187, 187, 187);
  border-radius: 3px;
}

blockquote code {
  background-color: transparent;
}

blockquote p:last-child {
  margin-bottom: 0;
}

caption {
  display: table-caption;
  text-align: center;
  caption-side: bottom;
  font-size: 80%;
  padding: 5px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  text-align: center;
  margin: 0;
}


figure {
  display: inline-block;
  break-inside: avoid !important;
  break-inside: avoid-column !important;
  text-align: center;
  text-indent: 0;
  padding: 0;
  margin: 10px;
  max-width: 100%;
}

figure > img {
   min-width: 100%;
}

figcaption {
    font-size: 75%;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: center;
}

figure, figcaption {
    page-break-inside: avoid !important;
}

table {
  border-collapse: collapse;
  width: auto;
  font-size: 0.9em;
  margin: 0.25em 1em 1em 1em;
  break-inside: avoid !important;
  break-inside: avoid-column !important;
}

th {
  background-color: #F8F8F8;
  border: 1.5px solid black;
  padding: 5px;
  vertical-align: center;
  word-break:keep-all;
}

td {
  border: 1.5px solid black;
  padding: 5px;
  vertical-align: center;
  word-break:keep-all;
}

a, a:visited {
	color: #4183C4;
	background-color: inherit;
	text-decoration: none;
}


code, pre {
	font-family: Hack;
	font-size: 90%;
	border-radius: 3px;
	color: inherit;
	line-height: 150%;
}

code {
	border: 2px solid #EAEAEA;
	margin: 0 2px;
	padding: 0 2px;
}


pre {
	border: 2px solid #BBBBBB;
	overflow: auto;
	padding: 4px 8px;
	margin-top: 1em;
	margin-bottom: 1em;
}

pre > code {
	border: 0;
	margin: 0;
	padding: 0;
}


.katex .mathnormal, .mathit, .mathbf, .boldsymbol, .mathsf, .textsf, .textbf, .mathbf, .textrm, .mainrm { 
	font-family: "Lora", serif;
}

.katex , .mathrm, .text  {
	font-family: "Source Sans Pro";
}

.multicolumn {
  padding-left: 0;
  padding-right: 0;
}
