<html>
    <head>
        <meta charset="UTF-8">
        <title>0. Design</title>
        <link type="text/css" href="{}/tui-image-editor/tui-color-picker.css" rel="stylesheet">
        <link rel="stylesheet" href="{}/tui-image-editor/tui-image-editor.css">
        <style>
            html, body {{
                height: 100%;
                margin: 0;
            }}
        </style>
    </head>
    <body>

        <div id="tui-image-editor-container"></div>
        <script type="text/javascript" src="{}/tui-image-editor/fabric.js"></script>
        <script type="text/javascript" src="{}/tui-image-editor/tui-code-snippet.min.js"></script>
        <script type="text/javascript" src="{}/tui-image-editor/tui-color-picker.js"></script>
        <script type="text/javascript" src="{}/tui-image-editor/FileSaver.min.js"></script>
        <script src="{}/tui-image-editor/tui-image-editor.js"></script>
        <script>
         // Image editor
         var imageEditor = new tui.ImageEditor('#tui-image-editor-container', {{
             includeUI: {{
             	loadImage: {{
                     path: '{}',
                     name: 'image'
                 }},
                 menuBarPosition: 'bottom'
             }},
             cssMaxWidth: 700,
             cssMaxHeight: 500,
             usageStatistics: false
         }});
         window.onresize = function() {{
             imageEditor.ui.resizeEditor();
         }}
        </script>
    </body>
</html>

